<IfModule mod_rewrite.c>

    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>
    
    RewriteEngine on

    # Redirect All Requests To The Subfolder
    RewriteRule ^(.*)$ public/$1
 </IfModule>